/* Base */
@import "base/variaveis.css";
@import "base/reinicio.css";
@import "base/base.css";

/* Efeitos */
@import "efeitos/fundo.css";
@import "efeitos/superficie-vidro.css";

/* Layout */
@import "layout/principal.css";

/* Componentes */
@import "components/cabecalho.css";
@import "components/rodape.css";
@import "components/botoes.css";
@import "components/cartoes.css";
@import "components/paginacao.css";

/* Responsivo */
@import "layout/responsivo.css";
